* {
	padding: 0;
	margin: 0;
}
header {
	height: 450px;
	position: relative;


}
div.background {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/food-2015.jpg);
	height: 450px;
	width: 100%;
	background-size: cover;

}
.overlay {
	position: absolute;
	top: 0px;
	left: 0;
	height: 450px;
	width: 100%;
	background: rgba(0,0,0,.4);
}
nav {
	color: white;
	position: absolute;
	top: 10px;
	left: 260px;

}

nav ul li {
	transition: all 0.5s;
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	border: 2px solid white;
	margin-right: 30px;
}

nav ul li:hover {
	color: orange;
	font-size: 15px;
	border: 2px solid orange;

}

main {
	width: 100%;
	position: relative;
}

main div {
	float: left;
	width: 25%;
	height: 300px;
}


div.shandong {
	background: url(../images/shandong.jpg);
	background-size: cover;
	background-position: 70%;
}

div.textLayer_shandong {
	transition: all 0.5s;
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 300px;
	line-height: 300px;
	text-align: center;
	opacity: 0;
}

div.textLayer_shandong:hover {
	opacity: 1;
	background: url(../images/fugai.jpg);
	background-size: cover;
}

div.textLayer_shandong p {
	color: black;
	font-size: 30px;
	font-weight: bold;
}

div.sichuan {
	background: url(../images/chuan.jpg);
	background-size: cover;
	background-position: 70%;
}

div.textLayer_sichuan {
	transition: all 0.5s;
	position: absolute;
	top: 0;
	left: 25%;
	width: 25%;
	height: 300px;
	text-align: center;
	line-height: 300px;
	opacity: 0;
}

div.textLayer_sichuan:hover {
	opacity: 1;
	background: url(../images/fugai.jpg);
	background-size: cover;
}

div.textLayer_sichuan p {
	font-size: 30px;
	color: black;
	font-weight: 700;
}


div.guangdong {
	background: url(../images/guangdong.jpg);
	background-size: cover;
/*	background-position: 80% -40px;*/
}

div.textLayer_guangdong {
	transition: all 0.5s;
	position: absolute;
	top: 0;
	left: 50%;
	width: 25%;
	height: 300px;
	text-align: center;
	line-height: 300px;
	opacity: 0;
}

div.textLayer_guangdong:hover {
	opacity: 1;
	background: url(../images/fugai.jpg);
	background-size: cover;
}

div.textLayer_guangdong p {
	font-size: 30px;
	color: black;
	font-weight: 700;
}

div.fujian {
	background: url(../images/fujian.jpg);
	background-size: cover;
/*	background-position: 80% -40px;*/
}

div.textLayer_fujian {
	transition: all 0.5s;
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	height: 300px;
	text-align: center;
	line-height: 300px;
	opacity: 0;
}

div.textLayer_fujian:hover {
	opacity: 1;
	background: url(../images/fugai.jpg);
	background-size: cover;
}

div.textLayer_fujian p {
	font-size: 30px;
	color: black;
	font-weight: 700;
}

div.jiangsu {
	background: url(../images/jiangsu.jpg);
	background-size: cover;
	background-position: 80%;
}

div.textLayer_jiangsu {
	transition: all 0.5s;
	position: absolute;
	top: 300px;
	left: 0;
	width: 25%;
	height: 300px;
	text-align: center;
	line-height: 300px;
	opacity: 0;
}

div.textLayer_jiangsu:hover {
	opacity: 1;
	background: url(../images/fugai.jpg);
	background-size: cover;
}

div.textLayer_jiangsu p {
	font-size: 30px;
	color: black;
	font-weight: 700;
}

div.zhejiang {
	background: url(../images/zhejiang.jpg);
	background-size: cover;
	background-position: 20%;
}

div.textLayer_zhejiang {
	transition: all 0.5s;
	position: absolute;
	top: 300px;
	left: 25%;
	width: 25%;
	height: 300px;
	text-align: center;
	line-height: 300px;
	opacity: 0;
}

div.textLayer_zhejiang:hover {
	opacity: 1;
	background: url(../images/fugai.jpg);
	background-size: cover;
}

div.textLayer_zhejiang p {
	font-size: 30px;
	color: black;
	font-weight: 700;
}


div.hunan {
	background: url(../images/hunan.jpg);
	background-size: cover;
	background-position: 20%;
}

div.textLayer_hunan {
	transition: all 0.5s;
	position: absolute;
	top: 300px;
	left: 50%;
	width: 25%;
	height: 300px;
	text-align: center;
	line-height: 300px;
	opacity: 0;
}

div.textLayer_hunan:hover {
	opacity: 1;
	background: url(../images/fugai.jpg);
	background-size: cover;
}

div.textLayer_hunan p {
	font-size: 30px;
	color: black;
	font-weight: 700;
}

div.anhui {
	background: url(../images/anhui.jpg);
	background-size: cover;
	background-position: 20%;
}

div.textLayer_anhui {
	transition: all 0.5s;
	position: absolute;
	top: 300px;
	left: 75%;
	width: 25%;
	height: 300px;
	text-align: center;
	line-height: 300px;
	opacity: 0;
}

div.textLayer_anhui:hover {
	opacity: 1;
	background: url(../images/fugai.jpg);
	background-size: cover;
}

div.textLayer_anhui p {
	font-size: 30px;
	color: black;
	font-weight: 700;
}