* {
	padding: 0;
	margin: 0;
}
header {
	height: 450px;
	position: relative;


}
div.background {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/food-2015.jpg);
	height: 450px;
	width: 100%;
	background-size: cover;

}
.overlay {
	position: absolute;
	top: 0px;
	left: 0;
	height: 450px;
	width: 100%;
	background: rgba(0,0,0,.4);
}
nav {
	color: white;
	position: absolute;
	top: 10px;
	left: 260px;

}

nav ul li {
	transition: all 0.5s;
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	border: 2px solid white;
	margin-right: 30px;
}

nav ul li:hover {
	color: orange;
	font-size: 15px;
	border: 2px solid orange;

}

main {
	width: 100%;
	position: relative;
}

main div {
	float: left;
	width: 25%;
	height: 300px;
	background: red;
}

/*main div:hover {
	background: url(../images/huan.jpg);
	background-size: cover;
}*/


div.chuan {
	background: url(../images/chuan.jpg);
	background-size: cover;
	background-position: 70%;
}

div.textLayer_chuan {
	transition: all 0.5s;
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 300px;
	line-height: 300px;
	text-align: center;
	background: rgba(0,0,0,0);
	opacity: 0;
}

div.textLayer_chuan:hover {
	opacity: 1;
	background: url(../images/huan.jpg);
	background-size: cover;
}

div.textLayer_chuan p {
	color: white;
	font-size: 30px;
}

div.er {
	background: url(../images/er.jpg);
	background-size: cover;
	background-position: 80% -40px;
}